/* styles/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Crimson+Text&display=swap');

:root{
font-size: 10px;
--rem: 10;
}

:host,:root {
 
  font-size: 10px !important;

    
}

body {
  margin: 0;
  font-family: 'Crimson Text', serif;
}
