.body {

    background-image: url('/reena_mehta_bw_bg.png');
    background-size: cover;
    background-position: 100% 0;

    background-size: 40% auto;
    background-repeat: no-repeat;


    @media screen and (max-width: 768px) {
        background-position: 190% 25%;

        background-size: 85% auto;
    }

}




.container {
    display: flex;

    .reena_mehta_illustration {
        padding-top: 3rem;
        max-width: 100%;
        max-height: 100%;
        mix-blend-mode: multiply;
        margin: auto;
    }
}